.section1
{
font-family: 'Raleway', sans-serif;
}
#section2
{
  padding-top: 180px;
  text-align: center;
  padding-bottom:160px;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}
#firsth1
{
  font-family: 'Shadows Into Light', cursive;
  font-size: 70px;
}
#firsth2
{
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
}

.btn-one {
	color: #4f81c7;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}
.btn-three:hover span {
	letter-spacing: 2px;
}
.btn-three {
	color: #4f81c7;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

#section3
{
  padding-top: 180px;
  text-align: center;
  padding-bottom:180px;
  font-family: 'Abel', sans-serif;
  font-size: 25px;

    background-color:#63aabc;
}
#section4    h1{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
#section4   p{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}
#section5    h1{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
#section5   p{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: white;
}
#section6    h1{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
#section6   p{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}
#section7    h1{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
#section7   p{
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: white;
}
#name
{

    background-color: #67eaca;
      font-style: italic;
      font-style: oblique;
      color: white;
  }


.spans
{
  font-style: italic;
  font-style: oblique;
  color:#d3f6f3;
  text-decoration: underline;
}

#portfolio{
  padding-top: 10%;
  text-align: center;
}
#portfolio h1
{
  color: #63aabc;
}
#portfolio p
{
  font-size: 25px;
}
.name1
{
  background-color: #67eaca;
    font-style: italic;
    font-style: oblique;
    color: white;
}
#section4
{
  padding-top: 180px;
  text-align: center;
  padding-bottom:180px;
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
}
#section5
{
  padding-top: 180px;
  text-align: center;
  padding-bottom:180px;
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
    background-color:#67eaca;
}
#section6
{
  padding-top: 180px;
  text-align: center;
  padding-bottom:180px;
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
}
.pics
{
   width: 500px;
   height: 300px;
}
.td1
{
  width: 50%;
  padding-left: 150px;
}
.td2
{
  width: 50%;
}
#footer
{   align-items: center;
  padding-top: 80px;
  text-align: center;
  padding-bottom:80px;
  font-family: 'Raleway', sans-serif;

background-color:#67eaca;
}
#footer #j
{
  font color: #ffffff;
  font-size: 30px;
}
#footer p
{
    font color: #ffffff;
  font-size: 25px;
}
#footer sizeoficon
{
font-size: 35px;
}
